openapi: 3.2.0
info:
  title: Autodesk Construction Cloud Issues Issue Types API
  description: The ACC Issues API enables creation, retrieval, and management of construction issues, observations, and punch list items. REST APIs integrate with field management workflows for quality control, safety reporting, and project closeout in Autodesk Construction Cloud.
  version: 2.0.0
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com/en/docs/acc/v1/overview/
servers:
- url: https://developer.api.autodesk.com
  description: Autodesk Platform Services API
security:
- oauth2ThreeLegged: []
tags:
- name: Issue Types
  description: Issue type configuration
paths:
  /issues/v2/containers/{containerId}/issue-types:
    get:
      operationId: listIssueTypes
      summary: List issue types
      description: Retrieve all configured issue types and subtypes for the project.
      tags:
      - Issue Types
      parameters:
      - name: containerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Issue types
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IssueType'
components:
  schemas:
    IssueType:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        isActive:
          type: boolean
        subtypes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              isActive:
                type: boolean
  securitySchemes:
    oauth2ThreeLegged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: Read project data
            data:write: Write project data
